# Flutter/Dart related
**/build/
**/.dart_tool/
**/.flutter-plugins/
**/.flutter-plugins-dependencies/
**/.packages
.packages
.flutter-plugins
.flutter-plugins-dependencies

# IntelliJ/Android Studio related
.idea/
*.iml

# VS Code related
.vscode/

# macOS related
.DS_Store

# Windows related
Thumbs.db

# Linux related
*.swp

# Android related
android/app/debug.keystore

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/build/

# Flutter test coverage
coverage/

# Web related
web/.dart_tool/
web/build/

# Generated JSON file
*.lock
pubspec.lock


